.navigation ul {
    list-style: none;
    padding: 0;
    display: flex;
    background-color: #333;
    margin:0;
    width: 100vw;

  }
  
  .navigation li {
    padding: 10px;
    margin-right: 10px;
  }
  
  .navigation a {
    color: white;
    text-decoration: none;
  }